@charset "UTF-8";

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #828282;
    text-align: center;
    margin: 0;

}

#hero {
    width: 735px; /*faz o texto ficar mais apertadinho e não ocupa toda a linha horizontal*/
    margin: 0px auto 70px; /*top 0px laterais(esquerda e direita) auto e bottom 72px*/
}

#hero img{
    margin-top: 60px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    color: #3F3D56;
    line-height: 72px;
    margin-bottom: 32px;
}

h1 span {
    color: #EE24FF;
}

span {
    color: #3F3D56;
    font-weight: bold;
}

#p2 {
    margin-top: 40px;
}

#p3 {
    margin-top: 40px;
}

#footer a {
    font-weight: bold;
    font-size: 15;
    text-decoration: none;
    color: #3F3D56;
}

#footer a + a {
    margin-left: 28px;
}

.line {
    width: 568px; 
    height: 0px;
    margin: 0 auto 8px;
    border: 1px solid #ECEFF2;
    margin-bottom: 25px;
}

#imgrodape {
    margin-top: 45px;
    width: 100vw;
    height: auto; 
  }